.App {
  text-align: center;
  width: 90%;
  margin: auto;
}
body{
  font-family: monospace;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar_main{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.logo{
color: #3f68ea;
}
.nav-items{
  list-style: none;
  display: flex;
  gap: 2rem;
  color: gray;
  font-weight: 600;
  text-decoration: none;
}
.btn-buynow{
  color: white;
  background-color: #3f68ea;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height:auto;
  border: none;
padding: 0.8rem 1rem;  
text-decoration: none;

}
.nav-logo{
  color: #3f68ea;
  text-decoration: none;
  font-size: xx-large;
}
.body-content{
  display: flex;
  align-items: center;
}

.body-content-main{
  float: left;
  width: 50%;
  text-align: left;
}


.btn-doc{
  color: #3f68ea;
  background-color: rgb(178, 214, 245);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height:auto;
  border: none;
padding: 0.8rem 1rem;  
margin-left: 0.5rem;
}
.pointer{
  cursor: pointer;
}
h4{
  color: gray;
}
.select-tent{
  display: grid;
  justify-items: start;

}

.widget-main{
  display: flex;
  margin: 2rem;
}
.tent-content{
  display: flex;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.active{
  color: white;
  border:none;
  background-color: black !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}
.btn-widget{
  height: 2rem;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  padding:0.5rem 0.8rem;
  width: fit-content;
}

.submitted-data{
  border:1px solid red ;
  border-style: dotted;
  width:20%;
  margin:1rem
}
.submitted-data-main{
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.btn-submit{
  width: 50%;
  min-width: fit-content;

}

/* MEDIA QUERIES */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 600px) {
  .widget-main{
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: auto;
  }
  .body-content{
    display: grid;
    margin: auto;
  }
  .btn-main{
    display: flex;
    width: max-content;
    margin: auto;
    margin-bottom: 2rem;
  }
  .body-content-2 {
    width: 100%;
  }
  .body-content-main {
    float: left;
    width: auto;
    text-align: left;
    }
    .navbar_main{
      display: grid;
    }
    .nav-items{
      display: flex;
      flex-wrap: wrap;
    }
    .widget-main{
      margin: 1rem;
    }
}

.btn-main{
  display: flex;
  width: max-content;
}